:root {
  --text: #020b1e;
  --bg: #e6ecfb;
  --primary: #285ccc;
  --secondary: #fff2bd;

  color: var(--text);
  background: var(--bg);

  font-family: "Cascadia Mono", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
